body {
	background-color: rgb(25,25,25);
}

.nav-item {
	line-height: 45px;
}

.logo {
	height: 5vh;
}

.alert {
	margin: -8%;
	border-radius: 0;

}
.form-control {
	border-radius: 0;	
}

.btn {
	border-radius: 0;
}

.dropdown {
	background-image: url(../images/v4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 65vh;
	padding-top: 20%;
	text-align: center;
}

.jumbotron {
	background-color: rgb(25,25,25);
	text-align: center;
}

.card {
   border-radius: 0;
}

.owl-carousel {
  background-color: rgb(217,217,217);

  
}
.carousel-img {
	height: 11vh;
	padding: 6%;
}


.footer {
	background-color: #343a40;
	padding: 3%;
}

#shiva
{
  width: 100px;
  height: 100px;
  background-color: rgb(0, 123, 255);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float:left;
  margin:30px;
}
.count
{
  line-height: 100px;
  color:white;
  margin-left:5px;
  font-size:25px;
}

/*vasya*/
#body_admin1{
	height: 100vmin;
}

#butonu{
	height: 100vmin;;
}